:root {
  --container-width: 1110px;
  --basic-space: 1rem;
  --primary-color: #d52047;
  --secondary-color: #f9f7e8;
  --bg-light: #eff8f6;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.medium-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.color-primary {
  color: var(--primary-color);
}

.mb-1_5rem {
  margin-bottom: calc(var(--basic-space) * 1.5);
}

/* ----- HEADER --------------------------------------------------------------------------------------- */

.header {
  background-color: var(--secondary-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: 'Courgette', sans-serif;
  font-size: 32px;
  line-height: 1.25;
}
.logo .color {
  color: #62bfad;
}
.header .nav {
  display: inline-block;
  margin-left: 80px;
}
.nav-link + .nav-link {
  margin-left: 20px;
}

/* ----- FIRST SECTION --------------------------------------------------------------------------------------- */

.first-section {
  background-color: var(--primary-color);
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 170px;
  text-align: center;
}

.main-title {
  font-family: 'Limelight', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
}

/* ----- ABOUT SECTION --------------------------------------------------------------------------------------- */

.about-section {
  background-color: var(--bg-light);
  padding-top: 95px;
  padding-bottom: 80px;
}

.about-section .description {
  font-size: 24px;
  line-height: 29.7px;
}

.about-section .wrapper > * {
  width: 50%;
}

.about-section .wrapper .text-wrap {
  float: left;
  background-color: #e5e5e5;
  padding: 24px;
  border-radius: 8px 0 0 8px;
}

/* ----- FEATURES SECTION --------------------------------------------------------------------------------------- */

.features-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.card {
  display: inline-block;
  max-width: 322px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 24px;
}

.card + .card {
  margin-left: 68px;
}

.card .card-link {
  color: var(--primary-color);
  text-decoration: underline;
}

/* ----- FOOTER --------------------------------------------------------------------------------------- */

.footer {
  background-color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.social-link + .social-link {
  margin-left: var(--basic-space);
}
.social-link svg path {
  transition: all 0.3s linear;
}
.social-link:hover svg path {
  fill: var(--primary-color);
}
